version: "3.9"

services:
  raise_cdt:
    image: istc_uspe:latest
    container_name: uspe
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - MONGODB_HOST=${MONGODB_HOST}
    restart: unless-stopped
