html,
body {
  margin: 0;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #ffffff !important;
}

@keyframes blink {
  50% {
    background-color: lightgray;
  }
}

.blink {
  animation: blink 0.5s ease-in-out;
  border-radius: 15px;
}

.sensor-panels {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem 0;
}

.sensor-panels > * {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .sensor-panels {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sensor-panels > * {
    flex: 1 1 45%;
  }
}

@media (min-width: 1200px) {
  .sensor-panels > * {
    flex: 1 1 30%;
  }
}