#map {
    height: 680px;
}

div.tooltip {	
    position: absolute;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
}